<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hotel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Hotel.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=HZ-ПК\;Initial Catalog=hotel;Integrated Security=True</value>
            </setting>
            <setting name="MainColor" serializeAs="String">
                <value>9, 56, 82</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AccientColor" serializeAs="String">
                <value>23, 88, 144</value>
            </setting>
            <setting name="AddColor" serializeAs="String">
                <value>152, 156, 157</value>
            </setting>
            <setting name="HeaderFont" serializeAs="String">
                <value>Verdana, 36pt</value>
            </setting>
            <setting name="AccientFont" serializeAs="String">
                <value>Book Antiqua, 21.75pt, style=Italic</value>
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Verdana, 18pt</value>
            </setting>
            <setting name="TransparentColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </Hotel.Properties.Settings>
    </userSettings>
</configuration>